<%= render '/shared/nav_main',title: 'Home'  %>
<section class="section-main-page">
  <h1>Spendings Tracker</h1>
  <button>
    <%= link_to "sign in", new_user_session_path %>
  </button>
  <button>
    <%= link_to "sign up", new_user_registration_path %>
  </button>
</section>