<%= render '/shared/nav_main',title: 'Home'  %>
<section class="section-main-page">
  <h1>Spendings Tracker</h1>
  <button>
    <%= link_to "Sign In", new_user_session_path %>
  </button>
  <button>
    <%= link_to "Sign Up", new_user_registration_path %>
  </button>
</section>