<section class="section-main-page">
  <%= render '/shared/nav_main',title: 'Home'  %>
  <div class="main-page-container">
    <h1 class="main-page-header text-primary">Spendings Tracker</h1>
    <div class="main-page-btn-group">
      <%= link_to new_user_session_path, class:'bg-primary' do %>
      <button class="blue-button bg-primary text-secondary">
        Sign In
      </button>
      <% end %>
      <%= link_to new_user_registration_path, class:'bg-primary' do %>
      <button class="blue-button bg-primary text-secondary">
        Sign Up
      </button>
      <% end %>
    </div>
  </div>
</section>