<nav class="navbar">
  <div class="custom-nav-container">
    <%= link_to backurl do %>
    <button
      class=""
      type="button"
    >
    <i class="material-icons two-tone">arrow_back</i>
    </button>
    <% end %>
      <div class="custom-navbar-header">
        <h2 class="page-title"><%= title %></h2>
      </div>
      <div class="custom-nav-items" id="navbarNav">
        <ul class="navbar-nav">
          <li class="custom-nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="custom-nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="custom-nav-item">
            <a class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
