<nav class="navbar">
  <div class="custom-nav-container">
      <button
        class="custom-nav-burger-button"
        type="button"
        aria-label="Toggle navigation"
      >
      <i class="material-icons outlined">menu</i> 
      </button>
      <div class="custom-navbar-header">
        <h2 class="page-title"><%= title %></h2>
      </div>
      <div class="custom-nav-items" id="navbarNav">
        <ul class="navbar-nav">
          <li class="custom-nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="custom-nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="custom-nav-item">
            <a class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
