<nav class="navbar bg-primary text-secondary">
  <div class="custom-nav-container">
    
    <button
      class="nav-buttons bg-primary"
      type="button"
      aria-label="Back navigation navigation"
    >
    <%= link_to backurl do %>
      <i class="material-icons two-tone">arrow_back</i>
    <% end %>
    </button>
    
    <h2 class="custom-navbar-header"><%= title %></h2>
    <% if user_signed_in? %>
    
    <button
      class="nav-buttons bg-primary"
      type="button"
      aria-label="Logout button"
    >
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete } do %>
        <i class="material-icons outlined">logout</i>
      <% end %>
    </button>
    <% else %>  
      <button
        class="nav-buttons bg-primary"
        type="button"
        aria-label="Login button"
      >
      <%= link_to new_user_session_path  do %>
        <i class="material-icons outlined">login</i>
        <% end %>
      </button>    
    <% end %>
  </div>
</nav>
