<nav class="navbar">
  <div class="custom-nav-container">
    <%= link_to backurl do %>
    <button
      class="custom-nav-button"
      type="button"
      aria-label="Back navigation navigation"
    >
      <i class="material-icons two-tone">arrow_back</i>
    </button>
    <% end %>
    <h2 class="custom-navbar-header"><%= title %></h2>
    <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete } do %>
    <button
      class="custom-nav-button"
      type="button"
      aria-label="Logout button"
    >
      <i class="material-icons outlined">logout</i>
    </button>
    <% end %>
    <% else %>  
      <%= link_to new_user_session_path  do %>
      <button
        class="custom-nav-button"
        type="button"
        aria-label="Login button"
      >
        <i class="material-icons outlined">login</i>
      </button>
      <% end %>
    <% end %>
  </div>
</nav>
