.custom-nav-container {
  position: relative;
  width: 100%;
}

.custom-navbar-header {
  text-align: center;
}

.custom-nav-burger-button {
  position: absolute;
  left: 0;
}

.custom-nav-items {
  display: none;
}

.custom-nav-items > ul {
  list-style: none;
}

.custom-nav-items > ul > li > a {
  text-decoration: none;
}

.category-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5rem auto;
}

.category-card {
  border: solid 1px red;
}

.custom-container {
  border: solid 1px green;
}

@media screen and (min-width: 576px) {
  .custom-nav-container {
    display: flex;
    justify-content: space-around;
  }

  .custom-navbar-header {
    text-align: left;
    padding: 0 5rem;
    width: 30%;
  }

  .custom-nav-burger-button {
    display: none;
  }

  .custom-nav-items {
    width: 50%;
    display: block;
  }

  .custom-nav-items > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
