.custom-nav-container {
  display: flex;
  justify-content: space-between;
}

.custom-nav-container>button{
  border: none;
  cursor: pointer;
}

.category-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5rem auto;
}

.category-card {
  border: solid 1px red;
}

.custom-container {
  border: solid 1px green;
}

@media screen and (min-width: 576px) {

}
